@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column-reverse;
}

canvas {
    border: 2px solid black;
}

.toolbox {
    display: flex;
    width: 704px;
    padding: 0.25rem;
    background-color: rgb(59, 186, 236);
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.toolbox * {
    display: flex;
    margin: 2px;
    width: 2rem;
    height: 2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#clearBtn {
    display: flex;
    align-items: center;
    justify-content: center;

}


#clear-icon {
    display: flex;
}


.fa-tool-icon {
    display: flex !important;
}